
.header {
  padding: 180px;
  text-align: center;
  background-image: url('../image/frame.png');
  color: white;
    max-width: 100%;
    overflow: hidden;
    z-index: 10;
}

 .body {
        background-color: black;
        margin: 0;
    }
    h1 {
        color: brown;
        margin-top: 60px;
    }

.content {
    display: block;
    justify-content: center;
    flex-direction: column;
    max-width: 100%;
    width: 1000px;
    flex-flow: column nowrap;
    z-index: 10;
    font-family: Apple Chancery, cursive;
    font-size: 1.3em;
}

.content-wrapper {
    background-image:
            url('../image/frame_rame.png'),
            url('../image/frame_rame.png');
    background-position:
            top right,
            top left;
    background-repeat: repeat-y;
    background-size: 19em;
    display: flex;
    justify-content: center;
    flex-flow: row nowrap;
    align-items: center;
    height: 100%;
}
.main_menu {
    background-color: black;
    height: 60px;
    align-items: center;
    position: sticky;
    top: 0;
    justify-content: space-around;
    font-family: Apple Chancery, cursive;
    font-size: 30px;
    display: flex;
}

form{
    display: flex;
    flex-flow: column nowrap;
    padding: 1em;
    border-radius: 1.8em;
    margin-bottom: -1.9em;
}


.question_from{
    background-image: url('../image/herbatniki.png');
    background-repeat: no-repeat;
    background-position: top right;
}

h1 {
    margin: 0;
    padding-top: 1.2em;
}

.question {
    background-image: url('../image/question_back.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2.4em 0;
    width: 28.2em;
    border-radius: 0.4em;
    padding: 0.7em;
    color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.left-column {
    width: 50%;
    display: flex;
    flex-flow: column;
}

.right-column {
    justify-content: space-between;
    display: flex;
    align-items: flex-end ;
    flex-direction: column;
}

.question-title{
    padding: 0.7em;
}

.question-message{
    padding: 0.6em;
}

.vote-and-view{
    display: flex;
    flex-flow: row;
    justify-content: end;
    margin-top: 1.2em;
    margin-left: 1.8em;
}

#delete-button{
    width: 62.5%;
    background-color: #005022;
    color: white;
    font-size: 1.1em;
    border-radius: 0.4em;
    margin: 0.5em 2.2em;
    font-family: Apple Chancery, cursive;
}

#edit-button{
    width: 62.5%;
    background-color: #005022;
    color: white;
    font-size: 1.1em;
    border-radius: 0.4em;
    margin: 0.5em 2.2em;
    font-family: Apple Chancery, cursive;
}

#edit-comment-button{
    width: 62.5%;
    background-color: #005022;
    color: white;
    font-size: 1.1em;
    border-radius: 0.4em;
    margin: 0.5em 2.2em;
    font-family: Apple Chancery, cursive;
}

#delete-comment-button{
    width: 68%;
    background-color: #005022;
    color: white;
    font-size: 1.1em;
    border-radius: 0.4em;
    margin: 0.5em 2.2em;
    font-family: Apple Chancery, cursive;
}

.comment {
    background-image: url('../image/first_comment.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2.4em 0;
    width: 25.0em;
    border-radius: 0.4em;
    padding: 0.7em;
    color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.comment-to-comment {
    background-image: url('../image/comment_second.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 2.4em 9.9em;
    width: 25.0em;
    border-radius: 0.4em;
    padding: 0.7em;
    color: black;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    margin-top: -1.6em;
}

#vote-up-button{
    width: 62.5%;
    background-color: #005022;
    color: white;
    font-size: 1.1em;
    border-radius: 0.4em;
    margin: -1em 1.8em;
}

.only-vote{
    height: 4.8em;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    padding: 0.3em;
    margin-right: -0.1em;

}

#vote-down-button{
    width: 62.5%;
    background-color: #005022;
    color: white;
    font-size: 1.1em;
    border-radius: 0.4em;
    margin: -1em 1.8em;
}

.question-vote-number{
    margin-top: 1.2em;
    margin-left: 1em;
}

#comment-comment-button{
    width: 62.5%;
    background-color: #005022;
    color: white;
    font-size: 1.1em;
    border-radius: 0.4em;
    margin: 0.5em 2.2em;
    font-family: Apple Chancery, cursive;
}
.question-vote-number-right{
    margin-top: 1.2em;
    margin-left: 3em;
}

.vote-and-time{
    display: flex;
    flex-flow: row;
}

.only-vote-right{
    height: 4.8em;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 0.3em;
    margin-right: -7.4em;
}

}