<div style="display: flex;background-color:dimgray;font-size:24px;padding:15px;">
   <nav >
       <ul style="text-decoration: none" >
            <li style="text-decoration: none; display: inline-block; font-family: fantasy"><a style="text-decoration: none" href="/">HOME</a></li>
            <li style="text-decoration: none; display: inline-block;font-family: 'Comic Sans MS'"><a style="text-decoration: none" href="/add-question">Add question</a></li>
            <li style="text-decoration: none; display: inline-block;font-family: fantasy"><a style="text-decoration: none"href="/list">List of Question</a>
        </ul>
   </nav>
</div>

