{% extends 'layout.html' %}

{% block content %}

    <h1>Question Library</h1>

    Sort by: <form>
        <label>
        <input type="radio" name="order" value="asc" checked>
            Ascending
        </label>
        <label>
        <input type="radio" name="order" value="desc" >
            Descending
        </label>
        <button name="sort_by" value="title">Title</button>
        <button name="sort_by" value="submission_time">Date</button>
        <button name="sort_by" value="view_number"> Views</button>
        <button name="sort_by" value="vote_number">Votes</button>
        <button name="sort_by" value="message">Message</button>

    </form>

    <div style="border:2px solid #11557C">
        {% for question in questions %}
                   <div style="border:2px solid #3A7734">
                    <h2><a href="/question/{{ question }}">{{ questions[question]["title"] }}</a></h2>
                    <div style="float:right;border:2px solid #11557C">
                        {{ questions[question]["submission_time"] }}
                    </div>
                    <div style="border:2px solid #3A7734">
                        {{ questions[question]["message"] }}
                    </div>
                </div>
        {% endfor %}
    {{ cokolwiek }}
    </div>
{% endblock %}