<!DOCTYPE html>
<html lang="en">
<head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/main_page.css') }}">
    <meta charset="UTF-8">
    <title>Add Question</title>
</head>
<body>
<div class="header"></div>
<div class="content-wrapper">
    <div class="content">
        <div class="main_menu">
            <a href="/add-question"><span style="color: white"> Add question</span></a>
            <a href="/list"><span style="color: white">Question's list</span></a>
        </div>
        <div class="question_from">
            <h1> Hello Christmas Baker! </h1>
            {% for question in list_of_questions %}
                <div class="question">
                    <div class="left-column">
                        <div class="question-title">
                            <a href="question/{{ question[0] }}" style="color: black"> {{ question[3] }} </a>
                        </div>
                        <div class="question-message">
                            {{ question[1] }}
                        </div>
                        <div class="vote-and-view">
                            <div class="question-view-number">
                            View: {{ question[4] }}
                            </div>
                            <div class="question-vote-number">
                            Vote: {{ question[5] }}
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="question=image">
                        {{ question[6] }}
                        </div>
                        <div class="question-date">
                        {{ question[2] }}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
</body>
</html>