<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/question.css') }}">
    <meta charset="UTF-8">
    <title>Question {{ question_ide }}</title>
</head>
<body>
<div class="header"></div>
<div class="content-wrapper">
<div class="content">
    <div class="main_menu">
        <a href="/"><span style="color: white"> Main Page</span></a>
        <a href="/add-question"><span style="color: white">Add Question</span></a>
    <a href="/list"><span style="color: white">Question's list</span></a>
    </div>
    <div class="question_from">
            <h1> {{ title }}</h1>
                <div class="question">
                    <div class="left-column">
                        <div class="question-message">
                            {{ message }}
                        </div>
                        <div class="vote-and-view">
                            <div class="question-view-number">
                            View: {{ view }}
                            </div>
                            <div class="question-vote-number">
                            Vote: {{ vote }}
                            </div>
                        </div>
                    </div>
                    <div class="right-column">
                        <div class="question-date">
                        {{ time }}
                        </div>
                        <div class = "delete-and-edit">
                            <form action="/question/{{ question_ide }}/edit" method="post">
                            <div class="edit">
                                <button type="submit" id="edit-button">Edit question</button>
                            </div>
                            </form>
                            <form action="/question/{{ question_ide }}/delete" method="post">
                            <div class="delete">
                                <button type="submit" id="delete-button">Delete question</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
        </div>

</div>
</div>
</body>
</html>