<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>QUESTIONS nad ANSWERS</h1>
    <h2>Question {{ question[4] }}</h2>
    <p> {{ question[5] }} </p>
    <h2>Answers:</h2>
    <div>
        {% for answer in answers %}
            <h2>id:</h2>
            <p><strong>{{ answer[0] }}</strong></p>
            <h2>submission_time:</h2>
            <p><strong>{{ answer[1]|date }}</strong></p>
            <h2>vote_number</h2>
            <p><strong>{{ answer[2] }}</strong></p>
            <h2>question_id</h2>
            <p><strong>{{ answer[3] }}</strong></p>
            <h2>message</h2>
            <p><strong>{{ answer[4] }}</strong></p>
            <h2>image</h2>
            <p><strong>{{ answer[5] }}</strong></p>

        {% endfor %}
    </div>


</body>
</html>