<!DOCTYPE html>
<html lang="en">
<head>
      <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='CSS/registration.css') }}">
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="header"></div>
<div class="content-wrapper">
    <div class="content">
        <div class="main_menu">
            <a href="/"><span style="color: white"> Main page</span></a>
            <a href="/add-question"><span style="color: white"> Add question</span></a>
            <a href="/list"><span style="color: white">Question's list</span></a>
            <a href="/registration"><span style="color: white">Register</span></a>
        </div>
        <div class="registration">
            <form action="/registration" method="post">
                <label for="email">E-mail:</label>
                <textarea id="email" name="email"></textarea>

                <label for="password">Password:</label>
                <textarea id="password" name="password"></textarea>

                <button type="submit" id="register-button" class="btn btn-primary">Register</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>